<html ng-app="HttpDataStoreTester">
<head>
	<title>HTTP DataStore Tester</title>

	<link rel="stylesheet" type="text/css" href="bower_components/flexiJson/jsoneditor.css">
</head>
<body>
	
	<div ng-controller="TesterCtrl">
		<button ng-click="createEntity()">Create entity</button>

		<fieldset ng-show="newEntity">
			<legend>Add new entity</legend>
			<label>Metadata</label>
			<json-edit json="newEntity.Meta"></json-edit>
			<label>Payload</label>
			<json-edit json="newEntity.Data"></json-edit>
			<button ng-click="storeEntity()">Store</button>
			<button ng-click="newEntity = null">Cancel</button>
		</fieldset>

		<table>
			<tbody>
				<tr ng-repeat="entity in entities">
					<td>{{entity.Key}}</td>
					<td>{{entity.Value|json}}</td>
					<td>
						<button ng-click="delete(entity.Key)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

	<script type="text/javascript" src="bower_components/json3/lib/json3.min.js"></script>
	<script type="text/javascript" src="bower_components/h.dataStore/h.dataStore.min.js"></script>
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/flexiJson/jquery.jsoneditor.min.js"></script>
	<script type="text/javascript" src="bower_components/lodash/dist/lodash.compat.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>

	<script type="text/javascript" src="scripts/app.js"></script>
	<script type="text/javascript" src="scripts/jsonEditDrtv.js"></script>
</body>
</html>